@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.view-menu__btn {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.icon-menu__wrap {
  display: flex;
  justify-content: flex-end;
  margin: 40px;
  margin-right: 0;
  cursor: pointer;
}

.store-container {
  max-width: 980px;
  margin: 0 auto;
}

.products-module {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.products-list-item {
  list-style-type: none;
  margin-bottom: 20px;
}

.products-list-item-img__wrap {
  width: 70px;
  height: 70px;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #f5f5f5;
}

.card-container {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.card-img__wrap {
  width: 290px;
  height: 250px;
}

.card-image {
  width: 100%;
}

.card-container-header {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
}

.product-color {
  text-align: center;
}

.card-price {
  color: red;
  font-weight: 600;
  font-size: 1.3rem;
}

.add-to-cart__btn {
  color: red;
  outline: 1px solid red;
  border-radius: 10px;
  border: none;
  background-color: white;
  width: 120px;
  margin-right: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}

.card-title {
  text-transform: uppercase;
  text-align: center;
}